#masthead
{
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: left;
  background-color: #7FC9FF;
  /*background-image: linear-gradient(to bottom, #FF7A14 0px, #FFA500 100%);*/
  
  color: #FFFFFF;
}

body
{
  background-color: #FAFAFA;
}

@font-face
{
  font-family: 'Futura';
    src: url("https://jmcph4.github.io/assets/fonts/futura.ttf");
}

h1, h2, h3, h4, h5, h6
{
  font-family: Futura;
}

h1
{
  font-size: 40px;
}

h2
{
  font-size: 34px;
}

h3
{
  font-size: 28px;
}

h4
{
  font-size: 22px;
}

h5
{
  font-size: 16px;
}

h6
{
  font-size: 10px;
}

p
{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

blockquote
{
  font-style: italic;
  background-color: #F0F0F0;
  border-left: 5px solid #FF0000;
}

blockquote>p
{
  font-style: italic;
}

blockquote>li
{
  font-style: italic;
}

blockquote>pre
{
  font-style: italic;
}

.nav>li>a
{
  font-family: Futura;
  font-size: 20px;
}

.footer-rss
{
  float: bottom;
}

.footer-copyright
{
  float: bottom;
}

li
{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}